/*<meta />*/

/* MadCap-Branding applanguage:Templates/Projects/Online & Print/Side Navigation and PDF/ */

:root
{
	--Medium: #A4AAAE;
	--FontFamily: Georgia;
	--HeroImage: url('../Images/Hero-Image.png');
	--Light: #EEF0E9;
	--Lightest: #F5F6F2;
	--Dark: #445a44;
	--Primary: #678767;
	--Secondary: #C2D9BF;
	--Darkest: #263226;
	--LogoImage: url('../Images/flare-logo-NEW-2.png');
	--LogoImagePrint: url('../Images/flare-logo-NEW-2.png');
}

